# Common
FM_SERVER_NAME=fed-mgr.test.example

# Backend
SECRET_KEY=sq645hIUO7DdqDUs78mXZGeHA1oh-bBnAE--_D7Thts=
MYSQL_ROOT_PASSWORD=super-password
DB_USER=fed-mgr
DB_PASSWORD=password
DB_NAME=fed-mgr

# Dashboard
FM_ENDPOINT_URL="http://fed-mgr.test.example"
FM_AUTH_SECRET="xxxxxxxx"
API_SERVER_URL="http://192.168.1.1:8000/api/v1"
FM_OIDC_URL=https://iam.cloud.infn.it
FM_OIDC_CLIENT_ID="a73da7fd-94a2-4e99-b238-3ffad6dea375"
FM_OIDC_CLIENT_SECRET="xxxxxxxxx"
FM_OIDC_SCOPES="openid profile email"
FM_OIDC_PROVIDER_ID="iam"

# Groups for role-based access control
GROUPS_SITE_ADMIN='{"https://iam.cloud.infn.it/": ["admins"]}'
GROUPS_SITE_TESTER='{"https://iam.cloud.infn.it/": ["admins/beta-testers"]}'
GROUPS_SLA_MANAGER='{"https://iam.cloud.infn.it/": ["users/sla", "users/catchall"]}'
GROUPS_ADMIN='{"https://iam.cloud.infn.it/": ["admins"]}'